@(list: List[controllers.Application.Chapter])
@main("The Definitive Guide to HTML5 samples") {
<style>
.multi-column {
	height: 100%;
	
	column-count: 3;
	column-fill: balance;
	column-gap: 1.5em;
	
	-moz-column-count: 3;
	-moz-column-fill: balance;
	-moz-column-gap: 1.5em;
	
	-webkit-column-count: 3;
	-webkit-column-fill: balance;
	-webkit-column-gap: 1.5em;
	
	-ms-column-count: 3;
	-ms-column-fill: balance;
	-ms-column-gap: 1.5em;
}
</style>
    <h1>The Definitive Guide to HTML5 samples</h1>
    <div>
    <a href="http://amazon.co.jp/o/ASIN/B006LPJZFE"><img src="http://images.amazon.com/images/P/B006LPJZFE.09._OU09_SCMZZZZZZZ_.jpg" alt="LINK"></a>
    </div>
    <div class="multi-column">
    <ul>@list.map( c =>
    	<li>{c.name}<br/>
    		<ul>{c.list.map { f =>
    			<li><a href={"/assets/html5/" + c.name + "/" + f}>{f}</a></li>
    		}
    	}</ul>
    	</li>
    )</ul>
    </div>
	<a href="https://github.com/shunjikonishi/study-html5"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
}
